*{
    margin: 0px;
    padding: 0px
}

nav .container2{
    display: flex;
    justify-content: space-between;
    background-color: #191c24;
}

nav .logo2 {
    width: 20%;
    margin-left: 5%;
}

nav .logo2 img{
    height: 75px;
}

nav .navbar2{
    width: 30%;
}

nav .navbar2 ul{
    margin: 20px 0 ;
    list-style: none;

}

nav .navbar2 ul .no{
    margin-left: 10%;
    display: inline;
}

nav .navbar2 ul .no .ni{
    font-size:1.5vw; 
    color: #fff;
    text-decoration: none;
}


/* nav .navbar{
    background-color: #38425e;
    width: 100%;
    height: 70px;
}
*/

